#intro-bar-chart,
#scene4_district_country_map {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
}

#scene2_per_capita_water_usage,
#scene3_sector_usage {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

#tooltip_gw_extract_bar {
    position: absolute;    
    font-size: 15px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background: whitesmoke;
    border: 1px black;
    color: grey;
    padding: 5px 5px 5px 5px;
}

#tooltip_geo_map,
#tooltip_state_map,
#tooltip_country_map {
    position: absolute;    
    font-size: 15px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background: whitesmoke;
    border: 1px black;
    color: grey;
    padding: 5px 5px 5px 5px;
}

#tooltip_sector_usage {
    position: absolute;    
    font-size: 15px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background: whitesmoke;
    border: 1px black;
    color: grey;
    padding: 5px 5px 5px 5px;
}


#tooltip_per_capita_water {
    position: absolute;    
    font-size: 15px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background: whitesmoke;
    border: 1px black;
    color: grey;
    padding: 5px 5px 5px 5px;
}
.gw_extract_bar:hover {
    fill: rgb(15, 153, 238);
  }

  .scene5_maps {
    display: flex;
    width: 100%;
  }
  
  .scene5_maps_child  {
    /* flex: 1; */
    /* border: 1px solid lightgrey; */
    height: 600px;
    margin: 10px;
    padding: 1rem 1rem;
  }

  #scene5_district_state_map {
    flex-grow: 1;   
    margin-left: 200px;
   
  }
  #scene5_district_country_map {
    /* flex-grow: 1; */
    margin-right: 200px;
   
  }



.viz_button {
  /* background-color: #EA4C89; */
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  /* list-style: none; */
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.viz_button ,
.viz_button:focus {
  background-color: #3899f4;
}

.intro-bar-chart{
  display: none;
}
.icon:hover ~ .info{
  display: block;
}

#scene1-accordance:hover ~ .info{
  display: block;
}

#index-image {
  height: 500px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 2px 1px rgba(12, 0, 186, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  height: 1px;
  background-color: #8f8787; 
  width: 100%;
}

.chart-caption{
  font-size: 20px; 
  color:rgb(110, 104, 104);
  text-align: center;

}
#select-state-label{
  float:center;
  width:100px;
  font-size: 18px; 
  color:rgb(110, 104, 104);
  text-align: center;
  /* border: 1px solid lightgrey; */
  /* background-color: #8f8787;  */
}
#select-state{
  float:center;
  width:250px;
  /* border: 1px solid lightgrey; */
  /* background-color: #8f8787;  */
}

.annotation-subject{
  pointer-events: none;
}